@import "../../../styles/colors";
@import "../../../styles/mediaQueries";

.todo {
  border-top: 1px solid #ccc;
  font-size: 16px;
  padding: 0 5px;

  &:last-child {
    border-bottom: 1px solid #ccc;
  }

  &:nth-child(odd) {
    background: lighten($gray-color, 15%);
  }

  .actions {
    display: inline-block;
    width: 25%;
    padding-top: 10px;
    img {
      width: 16px;
      height: auto;
      margin: 0 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@include mobile {
  .todo {
    font-size: 14px;
  }
}
