@import './colors';

.modal {
  .title{
    border-bottom: 1px solid $gray-color;
    padding-bottom: 10px;
    margin: 0 0 20px;
  }

  .error-message {
    color: $red-color;

    img {
      width: 10px;
      height: auto;
    }
  }

  form {
    input {
      width: 100%;
      margin-top: 8px;
      margin-bottom: 25px;
      box-sizing: border-box;
      border: 1px solid $gray-color;
      padding: 10px;
      border-radius: 15px;
      outline: none;

      &:focus{
        border-color: $blue-color;
      }

      &[name='id'] {
        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }

  button {
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;

    &.cancel {
      float: left;
      background: $gray-color;
      color: #000;

      &:hover {
        background: lighten($gray-color, 2%);
      }
    }

    &.confirm {
      float: right;
      background: $blue-color;
      color: #fff;

      &:hover {
        background: lighten($blue-color, 2%);
      }
    }
  }
}